<p>Welcome to our TechBlog where users can post findings, research or otherwise fun things about tech! Please remember to be respectful to others and most importantly have fun!</p>
{{#each blogposts as |blogpost| }}
<div class="row mb-4 project">
  <div class="">
    <h2>
      <a href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a>
    </h2>
    <p>Created by {{blogpost.user.name}} on {{blogpost.createdAt}}</p>
  </div>
  <div class="">
    <p>
      {{blogpost.content}}
    </p>
  </div>
</div>
{{/each}}
