<p>Welcome to our TechBlog where users can post findings, research or otherwise fun things about tech! Please remember to be respectful to others and most importantly have fun!</p>
{{#each blogposts as |blogpost| }}
<div class="card p-2">
  <div class="">
    <h2 class='card-title'>
      <a href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a>
    </h2>
    <p>Created by {{blogpost.user.name}} on {{format_date blogpost.createdAt}}</p>
  </div>
  <div class="card-text">
    <p>
      {{blogpost.content}}
    </p>
  </div>
</div>
{{/each}}
